<body>
  <form method="post" action="/"><input type="hidden" name="fnid" value="R5mNOET6ZZTYxrelxB9U0E"><table border="0"><tbody><tr><td valign="top">user:</td><td>weisser</td></tr>
<tr><td valign="top">created:</td><td>time since created</td></tr>
<tr><td></td><td><a href="submitted?id=weisser"><u>submissions</u></a></td></tr>
<tr><td></td><td><a href="threads?id=weisser"><u>comments</u></a></td></tr>
</tbody></table></form>
</body>
